.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
}

.input {
  border: none;
  font-size: 20px;
  border-bottom: 1px solid #09ac1c;
  width: 100%;
  outline: none;
  padding: 10px 20px;
  color: 393e46;
}
